@import url("../assets/tailwind.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

@page {
  margin: 0;
  margin-left: 10px; /* Removes default header/footer margin */
}